/* --------------- css colour variables --------------- */
:root {
  /* Primary */
  --pink: hsl(322, 100%, 66%);
  /* Neutral */
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

/* --------------- header --------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.home-icon {
  margin: 0 0 0 5%;
  text-decoration: none;
}

.try-btn {
  margin: 0 5% 0 0;
  padding: 0.5em 1.5em;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--pink);
  border-style: solid;
  border-radius: 2em;
  border-width: thin;
  cursor: pointer;
}

/* --------------- landing --------------- */
.landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10% 1em 1em 1em;
}

.landing_title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3em;
}

.landing_text {
  margin: 1em;
  width: 50%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.landing_btn {
  margin: 1em;
  padding: 1em 3em;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: white;
  background-color: var(--pink);
  border-radius: 2em;
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* --------------- footer --------------- */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* --------------- media queries  --------------- */
@media only screen and (max-width: 375px) {
  /* .home-icon {
    width: 120px;
    height: 20px;
  } */

  .try-btn {
    font-size: 0.8em;
  }

  .landing_title {
    font-size: 1.5em;
  }
}

/* --------------- NOTES  --------------- 


### Headings
font-family: 'Poppins', sans-serif;
- Weights: 700

### Body
font-family: 'Open Sans', sans-serif;
- Weights: 400, 600, 700

*/
